.diary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
}

#month-selector {
  margin-right: 24px;
}

#password {
  width: 90px;
  margin-right: 24px;
}
#column-count {
  text-align: center;
}
#poster-counter {
  width: 35px;
  margin-right: 24px;
}

.poster {
  display: block;
  justify-content: center;
  align-items: center;
  font-size: xx-small;
  width: 37.5px;
  height: 52.5px;
}
.loading {
  cursor: pointer;
}

#poster-list {
  display: grid;
  grid-template-columns: repeat(4, 37.5px);
}

#canvas-btn {
  margin-bottom: 16px;
}

#csv-data {
  margin-top: 16px;
}

.preview {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}
.preview > label {
  margin-right: 12px;
}

canvas {
  cursor: pointer;
}