.diary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.poster {
  width: 125px;
  height: 175px;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  width: 100%;
}

#password {
  width: 90px;
}
#column-count {
  text-align: center;
}
#poster-count {
  width: 35px;
}

div.poster {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 175px;
}

.poster-list {
  margin-top: 25px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(4, 125px);
}