.diary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.poster {
  display: block;
  justify-content: center;
  align-items: center;
  font-size: xx-small;
  width: 37.5px;
  height: 52.5px;
  border-radius: 1px;
}

#poster-list {
  display: grid;
  grid-template-columns: repeat(4, 37.5px);
  gap: 2px;
}